.content {
  width: 80%;
  margin: 0 10%;
}

.panel {
  padding: 20px;
  border: solid 1 #aaaaaa;
  background-color: #dddddd;
}

.x-panel-tbar {
  display: none; }

.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-header .x-grid3-header-inner .x-grid3-header-offset {
  padding-left: 0; }
  .x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-header .x-grid3-header-inner .x-grid3-header-offset .x-grid3-hd-row {
    background-color: #DCA724;
    color: #004B8D;
    font-weight: bold; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-header .x-grid3-cell .x-grid3-hd-inner {
  display: block; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-sort-icon {
  background-repeat: no-repeat;
  height: 4px;
  width: 13px;
  margin-left: 3px;
  vertical-align: middle;
  visibility: hidden; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .sort-desc .x-grid3-sort-icon {
  background-image: url("../images/sort_desc.gif");
  visibility: visible; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .sort-asc .x-grid3-sort-icon {
  background-image: url("../images/sort_asc.gif");
  visibility: visible; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-scroller .x-grid3-body .x-grid3-row:nth-of-type(even) {
  background: #fafafa; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-scroller .x-grid3-body .x-grid3-row:nth-of-type(odd) {
  background: #e6e6e6; }
.x-panel-body-noheader .x-grid3 .x-grid3-viewport .x-grid3-scroller .x-grid3-body .x-grid3-row .x-grid3-row-table {
  /* .x-grid3-td-{{$index}} */ }

.x-clear {
  clear: both; }

.x-panel-bbar {
  display: none; }
